body {
  margin: 0;
  padding: 0;
  background-color: #212121;
}

@font-face {
  font-family: "NotoSerif-Regular";
  src:
    local("NotoSerif-Regular"),
    url(./fonts/NotoSerif-Regular.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SSFangTangTi";
  src:
    local("SSFangTangTi"),
    url(./fonts/ShangShouFangTangTi.woff2) format("woff2");
  font-display: swap;
}